<h1>Bid Now!</h1>
<a href="#!/logout">Logout</a>

<h3> Welcome {{currentuser.name}} !</h3>
<button ng-click="addProduct()">Add Products</button>

<div ng-repeat="product in products" ng-if="product.done == false">
	<h2>{{product.name}}</h2>
	<input type="text" ng-model="newBid.value">
	<button ng-click="addBid(newBid, product._id)"> Place Bid</button>
	<h4>Bids</h4>
	<div ng-repeat="bid in product.bids | filter:search:strict">
	<tr>
		<td>{{bid.user.name}}: {{bid.value | currency:"$"}} </td>
		<td></td>
		</tr>
	</div>
	<label>Search by Name: <input ng-model="search.user.name"></label>
	<label>Search by Bid: <input ng-model="search.value"></label>
</div>
	
<button ng-click="endBid()">End Bidding</button>






