<h1>Bucket List</h1>
<a href="#!/dashboard">Home</a>
<a href="#!/logout">Logout</a>

<h3> Welcome {{currentuser.name}} !</h3>


<input type="text" ng-model="newEvent.title" placeholder="Title">
<input type="text" ng-model="newEvent.description" placeholder="Description">

<select ng-model="newEvent.friend">
	<option ng-repeat="user in allusers" ng-value="user._id">{{user.name}}</option>
</select>
<button ng-click="addEvent(newEvent)">Add to List</button>


<h4>Before i die i want to:</h4>

<table>
	<tr ng-repeat="event in nowuser.events">
		<td><input type="checkbox" ng-click='doneEvent(event)' ng-checked="event.done"> | {{event.friend.name}} | {{event.title}} | {{event.description}} | <p ng-bind="event.createdAt | date: 'MMMM dd, yyyy'"></p></td>

	</tr>
</table>
<h4> List of other users (Click to view Profile):s
<table>
	<tr ng-repeat="user in allusers">
	<td><a href="#!/user/{{user._id}}">{{user.name}}</td></a>
	</tr>
	</td>
