<h1>Bucket List</h1>
<a href="#!/dashboard">Home</a>
<a href="#!/logout">Logout</a>

<h3> {{datuser.name}}'s Bucket List!</h3>
<h1>Done</h1>
<div ng-repeat='event in datuser.events'>


	
<div ng-if="event.done == true">
	
	{{event.done}} | {{event.friend.name }} | {{event.title}} | {{event.description}} | <p ng-bind="event.createdAt | date: 'MMMM dd, yyyy'"></p></div></div>




<h1>Pending</h1>

<div ng-repeat='event in datuser.events'>
	
	<div ng-if="event.done != true">
	
	{{event.friend.name}} | {{event.title}} | {{event.description}} | <p ng-bind="event.createdAt | date: 'MMMM dd, yyyy'"></p></div>
</div>